<!DOCTYPE html>
<html class="h-full">
  <head>
    <meta charset="utf-8" />
    <!--IE compatibility-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

  </head>

  <body class="font-sans antialiased leading-none text-gray-700">
    <div id="app"></div>
    {{ render_vite_hmr_client() }}

    <script type="text/javascript" defer src="{{ asset_url('javascript/main.tsx') }}"></script>


  </body>
</html>
